{% block content %}
	<table class="table">
		<thead>
			<tr>
				<th>Exam</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row.exam }}</td>
					<td>{{ row.exam_date }}</td>
					<td>
						<a href="{% url 'update-exam' exam=row.exam %}">
							<i class="fa fa-edit" aria-hidden="true"></i>
						</a>
						<a href="{% url 'delete-exam' exam=row.exam %}">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
