{% extends 'layout/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% if not rows %}
	add new <a href="{% url 'new-exam' %}">Exam</a>
{% else %}
	<table class="table">
		<thead>
			<tr>
				<th>Exam</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row.exam }}</td>
					<td>{{ row.exam_date }}</td>
					<td>
						<a href="{% url 'delete-exam' exam=row.exam %}">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}
