{% block content %}
	<table class="table">
		<thead>
			<tr>
				<th>Subject</th>
				<th>Course</th>
				<th>Department</th>
				<th>Min Marks</th>
				<th>Max Marks</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row.subject }}</td>
					<td>{{ row.course }}</td>
					<td>{{ row.department }}</td>
					<td>{{ row.min_marks }}</td>
					<td>{{ row.max_marks }}</td>
					<td>
						<a href="{% url 'update-subject' subject=row.subject %}">
							<i class="fa fa-edit" aria-hidden="true"></i>
						</a>
						<a href="{% url 'delete-subject' subject=row.subject %}">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
