{% block content %}
	<table class="table">
		<thead>
			<tr>
				<th>Department</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td>{{ row.department_name }}</td>
					<td>
						<a href="{% url 'update-department' department=row.department_name %}">
							<i class="fa fa-edit" aria-hidden="true"></i>
						</a>
						<a href="{% url 'delete-department' department=row.department_name %}">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
