{% extends 'layout/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% if not rows %}
	add new <a href="{% url 'new-parent' %}">Parent</a>
{% else %}
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td><a href="{% url 'parent-profile' id=row.id %}">{{ row.id }}</a></td>
					<td>{{ row.title }}</td>
					<td>
						<a href="{% url 'delete-parent' id=row.id %}">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}
