{% extends 'layout/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% if not rows %}
	add new <a href="{% url 'new-student' %}">Student</a>
{% else %}
	<table class="table">
		<thead>
			<tr>
				<th>PRN</th>
				<th>Name</th>
				<th>Standard</th>
				<th>Division</th>
				<th>Roll No</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<td><a href="{% url 'student-profile' prn=row.prn %}">{{ row.prn }}</a></td>
					<td>{{ row.title }}</td>
					<td>{{ row.standard }}</td>
					<td>{{ row.division }}</td>
					<td>{{ row.roll_no }}</td>
					<td>
						<a href="{% url 'delete-student' prn=row.prn %}">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
{% endblock %}
