{% extends 'layout/base.html' %}

{% load static from staticfiles %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
	<div class="forms">
		{% if prn %}
		<form class="form-group" action="{% url update_url id_field=id_value %}" method="POST">
		{% else %}
		<form class="form-group" action="{% url new_url %}" method="POST">
		{% endif %}
			{% csrf_token %}
			{{ form }}
			<input type="submit" value="Save">
		</form>
	</div>
{% endblock %}
